:root {
    --text-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bg-color: #111a24;
}

body {
    font-family: var(--text-font);
    font-weight: 100;
    font-size: 16px;
    user-select: none;
    background-color: var(--bg-color);
    color: aliceblue;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: #003355;
}

::-webkit-scrollbar-thumb:hover {
    background: #0055AA;
}

b {
    font-weight: 700!important;
    transition: color 0.2s;
}

b:hover {
    color: deepskyblue!important;
}

input, select {
    font-size: 12px;
    font-weight: 100;
    font-family: var(--text-font);
    background-color: var(--bg-color);
    color: aliceblue;
    width: 54px;
    box-sizing: border-box;
    border: 1px solid aliceblue;
    border-radius: 2px;
    transition: 0.2s;
}

input:focus, select:focus {
    outline: none!important;
    border: 1px solid deepskyblue;
    color: deepskyblue;
}

input[type="color"] {
    height: 21px;
    width: 21px;
}

label {
    transition: color 0.2s;
}

button {
    font-family: var(--text-font);
    background-color: #001122;
    color: aliceblue;
    font-weight: 400;
    border: 1px solid aliceblue;
    border-radius: 2px;
    transition: 0.2s;
    padding: 4px 12px;
    margin: 6.9px;
}

button:hover {
    outline: none!important;
    border: 1px solid deepskyblue;
    color: deepskyblue;
}

#options {
    width: 300px;
    max-width: calc(100% - 57px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 600px) {
    #previewSpace {
        width: 100%!important;
    }
}

#presetselector {
    width: auto!important;
}